@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-rubik), Rubik, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bebas), 'Bebas Neue', sans-serif;
    letter-spacing: 0.05em;
  }
}
